.Summary {
  width: 30%;
  /* padding: 10px; */
  text-align: left;
  border: 1px solid red;
}

.form1 {
  border: 1px solid black;
}
.headers {
  font-size: 20px;
  font-weight: bold;
}
.ShippingAddress {
  border: 1px solid green;
  width: 70%;
}

.pymtDiv {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin: 10px 0;
  max-height: 400px;
}

.wishlist {
  align-items: center;
  color: black;
}

.checkoutBtn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.checkoutBtn:hover {
  background-color: #595959;
}

.quantity > select {
  width: 40%;
  font-size: 17px;
  text-align: center;
}

.CheckoutBox {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.CheckoutBox > div:nth-child(1) {
  width: 50%;
  margin-right: 10px;
}

.CheckoutBox > div:nth-child(2) {
  width: 308px;
  height: 325px;
  padding: 24px;
  font-size: 16px;
  line-height: 22px;
  max-width: 100%;
  position: fixed;
  right: 0;
  margin-right: 90px;
}

.addForm {
  width: 100%;
}

.flexInput {
  display: flex;
}

.flexInput > div {
  width: 100%;
  margin: 10px 0;
}

.flexInput div:nth-child(2) {
  margin-left: 30px;
}

.addForm input,
.addForm select {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  font-size: 17px;
}

.flexCheckbox {
  display: flex;
  width: 100%;
  align-items: center;
}

.flexCheckbox input[type="checkbox"] {
  width: 20px;
  margin-right: 20px;
  color: black;
  background-color: black;
}

.flexCheckbox input:checked {
  background-color: black;
}

.CheckoutContainer {
  margin-top: 40px;
  width:90%;
  text-align: left;
}

.checkoutFooter {
  display: flex;
  height: 73px;
  background-color: #222222;
  color: white;
  justify-content: space-between;
  padding: 10px 24px;
  align-items: center;
  position: relative;
  bottom: 10;
}

.checkoutFooter a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}
.rightText {
  display: flex;
  align-items: center;
}

@media only screen and (min-width:0px) and (max-width:500px){
    .CheckoutBox{
      flex-direction: column;
    }
    .Summary{
      width:100%;
    }

    .ShippingAddress{
      width: 100%;
    }
    
  }
  
