.paymentContainer{
    margin-top: 6% ;
    text-align: left; 
}
.paymentContainer>p:first-child{
    padding-left: 5%;
    font-size: 24px;
   margin:  3px;
}
.PaymentOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 60%;  
    margin-left: 50px;
    font-size: 20px;
}
.PaymentOptions div{
    border: 1px solid black;
    width: 50%;
    height: 60px;
    margin: 5px 10px;
    align-items: center;
}
.PaymentOptions>div:nth-child(2) {
    border-left: 1px solid black;
}
.PaymentOptions img{
    width: 50%;
    height: 100%;
}
.billingAddTexts{
    display: flex;
}

/* Summary */
.Summary {
    width: 100%;
    text-align: left;
    height: 400px;
    /* border: 1px solid red ; */
}

.amountDiv {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 10px 0;
    max-height: 400px;
}

.wishlist {
    align-items: center;
    color: black;
}

.checkoutBtn {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: black;
    padding: 5px;
    cursor: pointer;
}

.checkoutBtn:hover {
    background-color: #595959;
}

.CheckoutBox {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.CheckoutBox>div:nth-child(1) {
    width: 50%;
    margin-right: 10px;
}

.CheckoutBox>div:nth-child(2) {
    width: 308px;
    height: 325px;
    padding: 24px;
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
    position: fixed;
    right: 0;
    margin-right: 90px;
}

.PaymentBox{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    text-align: left;
    /* border: 1px solid red; */
}
.PaymentBox > div:nth-child(1){
    width: 30%;
    /* margin-right: 100px; */
}
.PaymentBox>div:nth-child(2) {
    width: 20%;
}
.cardForm input{
    width: 100%;
    height: 40px;
    font-size: 17px;
}
.cardNum_ExpDD{
    display: flex;
}
.cardNum_ExpDD > div:nth-child(2){
 margin-left: 20px;
}
.cardForm>div:nth-child(5)>input{
    width: 100px;
    background-color: #595959;
    border: transparent;
    color: white;
}
.cardForm>div:nth-child(6)>input {
    width: 20px;
    margin-right: 20px;
}
.cardForm>div:nth-child(6){
    display: flex;
    margin-top: 20px;
}

.billingAddTexts{
    width: 90%;
    justify-content: space-around;
    display: flex;
    margin: 10px 0;
}
  
