/* .main{
  margin-top: 50px;
} */
.sg {
  border: 1px solid black;
}
.sizeBox {
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
.img_Box {
  width: 70%;
  margin: auto;
  margin-top: 90px;
  height: 230px;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .main {
    flex-direction: column;
    width: 98% !important;
  }
  .slider {
    height: 400px !important;
  }
  .main2 {
    width: 100% !important;
  }
  .slider_img {
    height: 400px !important;
  }

  .img_Box {
    width: 100%;
  }
  .imgBox1 {
    display: none;
  }
  .desc {
    width: 100% !important;
    margin-top: -70px;
  }
  .select {
    width: 100% !important;
  }
  .btn1 {
    width: 98% !important;
    margin-bottom: 10px;
    font-size: 20px !important;
    height: 50px !important;
  }
  .btn2 {
    width: 98% !important;
    margin-bottom: 10px;
    font-size: 20px !important;
  }

  .tabBox3 {
    margin-top: -100px;
  }
  .tabBox2 {
    margin-top: -50px;
  }
  .size_Box2 {
    margin-top: -150px;
  }
  .returns_Box3 {
    margin-top: -280px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 766px) {
  .main {
    width: 98% !important;
  }
  .img_Box {
    width: 80%;
  }
  .imgBox1 {
    display: none;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .btn1 {
    width: 90% !important;
    margin-bottom: 10px;
  }
  .btn2 {
    width: 90% !important;
    margin-bottom: 10px;
  }
}
