/* .loader{
    width: 90%;
    margin: auto;
    
} */
.bt{
    text-align: center;
    border: 0.5px solid black;
    width: 90%;
    height:40px;
    border-radius: 6px;
}
.crs_btn{
    position: absolute;
    top: 39.2%;
    left: 23.4%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(241, 210, 210);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


@media only screen and (max-width: 992px){
    .bt{
        font-size: small;    }
        .crs_btn{
            position: absolute;
        }
    
}